<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="genj.app.App"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="GenJ GEO"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dgenj.geo.dir=./contrib/geo &#13;&#10;-Dgenj.debug.file= &#13;&#10;-Dgenj.report.dir=build/eclipse&#13;&#10;-Dhttp.proxyHost=torisaw01.prod.quest.corp &#13;&#10;-Dhttp.proxyPort=8080"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
</launchConfiguration>
